<nav class="pagenav">
  <% if (page.prev){ %>
  <a
    href="<%- url_for(page.prev_link) %>"
    title="<%= __('prev') %>"
    class="prevpage"
    ><%= __('prev') %></a
  >
  <% } %> 
  
  <% for (var i = 1; i <= page.total; i++) { %>
    <a href="<%= url_for(page.base + i) %>" class="<%= page.current === i ? 'active' : '' %>"><%= i %></a>
  <% } %>
  
  <% if (page.next){ %>
  <a
    href="<%- url_for(page.next_link) %>"
    title="<%= __('next') %>"
    class="nextpage"
    ><%= __('next') %></a
  >
  <% } %>
</nav>
